<div class="widget last-news">
    <h3>{{ "Latest news" | trans }}</h3>
    <ul>
        {% for new in news %}
        <li>
            <a href="{{ url('news_show', {'news_id': new.id}) }}">{{ new.title }}</a>
            <span class="little">{{ new.author.username }} - {{ new.comments | length }} {{ "comments" | trans }}</span>
        </li>
        {% endfor %}
    </ul>
    <div class="bottom-link">
        <a href="{{ url('news_archives') }}">{{ "News archive" | trans }}</a>
    </div>
</div>