<div class="widget last-replays">
    <h3>{{ "Latest replays" | trans }}</h3>
    <ul>
        {% for replay in replays %}
        <li>
            <a href="{{ url('replay_show', { 'replay_id' : replay.id }) }}">
                {% for player in replay.game.players %}
                    <img class="race-icon" src="{{ asset('bundles/ihqsnuitblanche/images/ico/' ~ player.race ~ '_icon.png') }}" />
                    {{ player.name }}
                    <br />
                {% endfor %}
            </a>
            <span class="little">
                {{ replay.game.map }} -
                {{ replay.game.date.format('d/m/Y') }}
            </span>
        </li>
        <hr class="spacer" />
        {% endfor %}
    </ul>
    <div class="bottom-link">
        <a href="{{ url('replay_list') }}">{{ "All replays"  | trans }}</a>
    </div>
</div>